.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #2a363b;
  background-color: #c9e9e9;
}
