.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    270deg,
    rgb(73, 121, 126) 0%,
    rgba(76, 140, 158, 0.838) 61%
  );
}
/* ++++++++++++ 320px ....& +++++++++++++++++++ */
@media screen and (min-width: 320px) {
  .header {
    gap: 5px;
  }
}

@media screen and (min-width: 375px) {
  .header {
    gap: 7px;
  }
}
@media screen and (min-width: 768px) {
  /* ++++++++++++ TABLET STYLES +++++++++++++++++++ */
  .header {
    width: 100vw;
    gap: 160px;
  }
}

@media screen and (min-width: 1158px) {
  /* ++++++++++++ DESCTOP STYLES +++++++++++++++++++ */
  .header {
    gap: 550px;
  }
}
@media screen and (min-width: 1440px) {
  /* ++++++++++++ DESCTOP STYLES +++++++++++++++++++ */
  .header {
    gap: 900px;
  }
}
