.form {
  width: 300px;
  margin: 0 auto;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 5px;
}
.button {
  background-color: #749bc2;
  border-style: none;
  border-radius: 3px;
  color: #ffffff;
}
.button:hover {
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  background-color: #3ba085;
}
