.container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  background-color: #c9e9e9;
}
.btn {
  width: 200;
  height: fit-content;
  background-color: #749bc2;
  border-radius: 3px;
  border-style: none;
  color: #ffffff;
}
.groupAll {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupImg {
  display: flex;
  gap: 10px;
  align-items: center;
}
.confirm {
  background-color: black;
}
