.form {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: auto;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #c9e9e9;
}

.field {
  width: 100%;
  border: 1px solid rgb(133, 130, 130);
  border-radius: 3px;
  font-size: 16px;
}
.btn {
  width: fit-content;
  margin-top: 10px;
  align-self: center;
  background-color: #749bc2;
  border-style: none;
  border-radius: 3px;
  color: #ffffff;
}
.btn:hover {
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
  background-color: #3ba085;
}
.lable {
  margin-top: 15px;
  margin-bottom: 5px;
}
.error {
  margin-top: 5px;
  color: red;
}
