.wrapper {
  display: flex;
  align-items: center;
}

.username {
  font-weight: 700;
  color: #ffffff;
}
.button {
  background-color: #749bc2;
  border-style: none;
  border-radius: 3px;
  color: #ffffff;
}
.button:hover {
  background-color: red;
  box-shadow: 3px 5px 5px rgb(0, 0, 0);
}
/* ++++++++++++ 320px ....& +++++++++++++++++++ */
@media screen and (min-width: 320px) {
  .wrapper {
    gap: 10px;
  }
}

@media screen and (min-width: 375px) {
  .wrapper {
    gap: 20px;
  }
}
@media screen and (min-width: 768px) {
  /* ++++++++++++ TABLET STYLES +++++++++++++++++++ */
  .wrapper {
    gap: 30px;
  }
}
