.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}
.button {
  background-color: #749bc2;
  border-style: none;
  border-radius: 3px;
  color: #ffffff;
}
